<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/reset_password.css" />
    <!-- Link to the external CSS file -->
  </head>
  <body>
    <div class="container" id="formContainer">
      <!-- Sign Up Form -->
      <div id="resetPassword" class="form">
        <h1>Reset Password</h1>
        <form action="/password_updated" method="POST" class="clear-on-submit">
          <div class="input-group">

            <input type="hidden" name="email" autocomplete="off" value="<%= email %>">  <!-- Passing email here; from /reset_password_form route -->

            <label for="newPassword">Enter new password</label>
            <input
              type="password"
              id="newPassword" autocomplete="off"
              oninput="validPassword()"
              name="newPassword"
              required
            />
            <div class="LetterPass hideLetterPass">
              Password contains minimum 8 and maximum 13 letters.
            </div>
            <div class="UpercasePass hideUpercasePass">
              Password contains at least one uppercase.
            </div>
            <div class="LowercasePass hideLowercasePass">
              password contains at least one lowercase.
            </div>
            <div class="DigitPass hideDigitPass">
              Password contains at least one digit.
            </div>
          </div>
          <div class="input-group">
            <label for="confirmPassword">Confirm password</label>
            <input autocomplete="off" type="text" id="confirmPassword" name="confirmPassword" required/>
            <div class="PasswordMatch hidePasswordMatch">Password not matched</div>
          </div>
          <button type="submit" id="resetBTN">Reset Password</button>
        </form>
      </div>
    </div>

    <script src="/js/reset_password.js"></script>
    <!-- Link to the external JavaScript file -->
  </body>
</html>
